@model IEnumerable<ProjetWeb.Models.Instrumentation>

@{
    ViewBag.Title = "Detail";
    string NomInstrument= "";
    if (Model.FirstOrDefault() != default(IEnumerable<ProjetWeb.Models.Instrumentation>) ){ NomInstrument = Model.First().Instrument.Nom_Instrument; }
}

<h2>Oeuvre de L'instrument:   @NomInstrument </h2>

    <table class="table">
        <tr>
            <th>
                Titre Oeuvre
            </th>
            <th>
               Detail
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Oeuvre.Titre_Oeuvre)
                </td>
                <td>
                   @Html.ActionLink("Details", "DetailOeuvre", new { id = item.Oeuvre.Code_Oeuvre })
                </td>
                <td></td>
            </tr>
        }

    </table>
