@model IEnumerable<ProjetWeb.Models.Oeuvre>

@{
    ViewBag.Title = "OeuvreMusicien";
}

<h2>Oeuvres du Musicien</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre_Oeuvre)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailOeuvre", new { id = item.Code_Oeuvre })
            </td>
        </tr>
    }

</table>